/*	Аўтар: "БуслікДрэў" ( http://buslikdrev.by/ )
	© 2016-2021; BuslikDrev - Усе правы захаваныя. 
	busCarousel v0.2.0 */

.bus-carousel{
	position:relative;
	margin: 0 auto 20px;
	padding:0;
	overflow: hidden;
	background: #fff;
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.bus-carousel ul,
.bus-carousel .list{
	position: relative;
	list-style: none;
	margin: 0;
    padding: 0;
	width: 10000%; 
	height:100%;
	/* animation: start 10s infinite; */
	/* -moz-animation: wsBasic 10s infinite;
	-webkit-animation: wsBasic 10s infinite;
	animation-name: wsBasic;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running; */

}
@keyframes start{
	0%{transform: translateX(0%)}
	25%{transform: translateX(0%)}
	50%{transform: translateX(-100%)}
	75%{transform: translateX(-100%)}
}
@keyframes stop{
	100%{transform: translateX(0%)}
}
@keyframes wsBasic{
	0%{transform: translateX(0%)}
	25%{transform: translateX(0%)}
	50%{transform: translateX(-1%)}
	75%{transform: translateX(-1%)}
	100%{transform: translateX(0%)}
}
@-moz-keyframes wsBasic{
	0%{left:0%;}
	25%{left:-0%;}
	50%{left:-100%;}
	75%{left:-100%;}
	100%{left:0%;}
}
@-webkit-keyframes wsBasic{
	0%{left:0%;}
	25%{left:-0%;}
	50%{left:-100%;}
	75%{left:-100%;}
	100%{left:0%;}
}
.bus-carousel ul li,
.bus-carousel .bus-carousel-list li{
	position: relative;
	width: 1%;
	float: left;
	animation: start 6s infinite;
}
.bus-carousel ul li img,
.bus-carousel .bus-carousel-list li img{
    display: block;
    width: 100%;
    height: auto;
	vertical-align: middle;
}
.bus-carousel .bus-carousel-page{
    position: absolute;
	width: 100%;
    top: 50%;
    line-height: 45px;
	margin-top: -45px;
}
.bus-carousel .bus-carousel-page-prev,
.bus-carousel .bus-carousel-page-next {
    color: rgba(0,0,0,.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,.3);
    transition: all .3s ease;
    background-image: none;
	cursor: pointer;
}
.bus-carousel .bus-carousel-page-prev{
	position: absolute;
	opacity: 0;
    left: -20px;
}
.bus-carousel:hover .bus-carousel-page-prev{
	opacity: .7;
    left: 10px;
}
.bus-carousel .bus-carousel-page-prev:hover{
	opacity: 1;
}
.bus-carousel .bus-carousel-page-next{
	position: absolute;
	opacity: 0;
    right: -20px;
}
.bus-carousel:hover .bus-carousel-page-next{
	opacity: .7;
    right: 10px;
}
.bus-carousel .bus-carousel-page-next:hover{
	opacity: 1;
}
.bus-carousel-pagination{
	display: table;
    position: relative;
    margin: 0 auto 20px;
}
.bus-carousel-pagination-button{
	width: 11px;
    height: 11px;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    margin: 0 5px;
    opacity: 1;
    float: left;
}
.bus-carousel-pagination-button.active{
	background: rgba(0,0,0,.9);
}
