/*	Аўтар: "БуслікДрэў" ( http://buslikdrev.by/ )
	© 2016-2021; BuslikDrev - Усе правы захаваныя. 
	busCarousel v0.3.1 */

.bus-carousel{
	display: none;
	position: relative;
	margin: 0 auto 20px;
	padding: 0;
	overflow: hidden;
	background: #fff;
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.bus-carousel ul,
.bus-carousel .list{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10000%; 
	height:100%;
	/* animation: start 10s infinite; */
	/* -moz-animation: wsBasic 10s infinite;
	-webkit-animation: wsBasic 10s infinite;
	animation-name: wsBasic;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running; */

}
@keyframes start{
	0%{transform: translateX(0%)}
	25%{transform: translateX(0%)}
	50%{transform: translateX(-100%)}
	75%{transform: translateX(-100%)}
}
@keyframes stop{
	100%{transform: translateX(0%)}
}
@keyframes wsBasic{
	0%{transform: translateX(0%)}
	25%{transform: translateX(0%)}
	50%{transform: translateX(-1%)}
	75%{transform: translateX(-1%)}
	100%{transform: translateX(0%)}
}
@-moz-keyframes wsBasic{
	0%{left:0%;}
	25%{left:-0%;}
	50%{left:-100%;}
	75%{left:-100%;}
	100%{left:0%;}
}
@-webkit-keyframes wsBasic{
	0%{left:0%;}
	25%{left:-0%;}
	50%{left:-100%;}
	75%{left:-100%;}
	100%{left:0%;}
}
.bus-carousel ul li,
.bus-carousel .bus-carousel-list li{
	position: relative;
	width: 1%;
	float: left;
	animation: start 6s infinite;
}
.bus-carousel ul li img,
.bus-carousel .bus-carousel-list li img{
	display: block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.bus-carousel .bus-carousel-page{
	position: absolute;
	width: 100%;
	top: 50%;
	line-height: 45px;
	margin-top: -45px;
}
.bus-carousel .bus-carousel-page-prev,
.bus-carousel .bus-carousel-page-next {
	color: rgba(0,0,0,.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,.3);
	transition: all .3s ease;
	background-image: none;
	cursor: pointer;
}
.bus-carousel .bus-carousel-page-prev{
	position: absolute;
	opacity: 0;
	left: -20px;
}
.bus-carousel:hover .bus-carousel-page-prev{
	opacity: .7;
	left: 10px;
}
.bus-carousel .bus-carousel-page-prev:hover{
	opacity: 1;
}
.bus-carousel .bus-carousel-page-next{
	position: absolute;
	opacity: 0;
	right: -20px;
}
.bus-carousel:hover .bus-carousel-page-next{
	opacity: .7;
	right: 10px;
}
.bus-carousel .bus-carousel-page-next:hover{
	opacity: 1;
}
.bus-carousel-pagination{
	display: table;
	position: relative;
	margin: 0 auto 20px;
}
.bus-carousel-pagination-button{
	width: 11px;
	height: 11px;
	background: rgba(0,0,0,.5);
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	margin: 0 5px;
	opacity: 1;
	float: left;
}
.bus-carousel-pagination-button.active{
	background: rgba(0,0,0,.9);
}

.bus-carousel-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.bus-carousel-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.bus-carousel-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.bus-carousel-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.bus-carousel-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.bus-carousel-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.bus-carousel-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.bus-carousel-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.bus-carousel-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
